{% extends "base.html.twig" %}

{% block content %}
<h2>Welcome</h2>

<p class="py-3">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque rem repellat ducimus accusantium nobis molestias
    atque commodi? Architecto repudiandae placeat voluptatum, iste a, velit perferendis quisquam quos non tempora
    deleniti.
</p>

<p class="py-3">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque rem repellat ducimus accusantium nobis molestias
    atque commodi? Architecto repudiandae placeat voluptatum, iste a, velit perferendis quisquam quos non tempora
    deleniti.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores eum quae voluptatem vel aliquid minus enim
    adipisci aperiam corporis numquam molestias sapiente eligendi cupiditate cum optio cumque, rem eius.
    Nulla officiis, numquam ipsum dolorum tempora distinctio in explicabo impedit voluptatum corrupti perferendis
    minima debitis dignissimos neque, cumque error quae reprehenderit molestias. Et officiis quis, quisquam doloribus
    voluptatem facilis omnis?
    Molestiae aperiam quae repellat nemo quaerat. Repudiandae sapiente quos aliquam veniam modi incidunt cupiditate,
    veritatis labore tenetur ipsa quisquam mollitia. Incidunt dolorum veritatis ea totam quis sequi maxime libero
    assumenda!
</p>

<p class="py-3">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque rem repellat ducimus accusantium nobis molestias
    atque commodi? Architecto repudiandae placeat voluptatum, iste a, velit perferendis quisquam quos non tempora
    deleniti.
</p>

<a href="{{ path('contact.get') }}" class="btn btn-info">Contact us</a>
{% endblock %}